In [51]:
import numpy as np
import pandas as pd
import seaborn as sns

import category_encoders as ce
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix

In [5]:
df = pd.read_csv('megaGymDataset.csv')

In [6]:
df

,Unnamed: 0,Title,Desc,Type,BodyPart,Equipment,Level,Rating,RatingDesc
0,0,Partner plank band row,The partner plank band row is an abdominal exe...,Strength,Abdominals,Bands,Intermediate,0.0,NaN
1,1,Banded crunch isometric hold,The banded crunch isometric hold is an exercis...,Strength,Abdominals,Bands,Intermediate,NaN,NaN
2,2,FYR Banded Plank Jack,The banded plank jack is a variation on the pl...,Strength,Abdominals,Bands,Intermediate,NaN,NaN
3,3,Banded crunch,The banded crunch is an exercise targeting the...,Strength,Abdominals,Bands,Intermediate,NaN,NaN
4,4,Crunch,The crunch is a popular core exercise targetin...,Strength,Abdominals,Bands,Intermediate,NaN,NaN
...,...,...,...,...,...,...,...,...,...
2913,2913,EZ-bar skullcrusher-,The EZ-bar skullcrusher is a popular exercise ...,Strength,Triceps,E-Z Curl Bar,Intermediate,8.1,Average
2914,2914,Lying Close-Grip Barbell Triceps Press To Chin,NaN,Strength,Triceps,E-Z Curl Bar,Beginner,8.1,Average
2915,2915,EZ-Bar Skullcrusher - Gethin Variation,The EZ-bar skullcrusher is a popular exercise ...,Strength,Triceps,E-Z Curl Bar,Intermediate,NaN,NaN
2916,2916,TBS Skullcrusher,The EZ-bar skullcrusher is a popular exercise ...,Strength,Triceps,E-Z Curl Bar,Intermediate,NaN,NaN
2917,2917,30 Arms EZ-Bar Skullcrusher,NaN,Strength,Triceps,E-Z Curl Bar,Intermediate,NaN,NaN

In [7]:
df.isnull().sum()

Unnamed: 0       0
Title            0
Desc          1550
Type             0
BodyPart         0
Equipment        0
Level            0
Rating        1887
RatingDesc    2056
dtype: int64

In [9]:
df['Level'].value_counts()

Intermediate    2446
Beginner         459
Expert            13
Name: Level, dtype: int64

In [10]:
df.drop(columns=['Unnamed: 0', 'Title', 'Desc', 'RatingDesc', 'Rating' ], inplace=True)

In [11]:
df

          Type    BodyPart     Equipment         Level
0     Strength  Abdominals         Bands  Intermediate
1     Strength  Abdominals         Bands  Intermediate
2     Strength  Abdominals         Bands  Intermediate
3     Strength  Abdominals         Bands  Intermediate
4     Strength  Abdominals         Bands  Intermediate
...        ...         ...           ...           ...
2913  Strength     Triceps  E-Z Curl Bar  Intermediate
2914  Strength     Triceps  E-Z Curl Bar      Beginner
2915  Strength     Triceps  E-Z Curl Bar  Intermediate
2916  Strength     Triceps  E-Z Curl Bar  Intermediate
2917  Strength     Triceps  E-Z Curl Bar  Intermediate

[2918 rows x 4 columns]

In [15]:
def classcount(dataframe):
    for i in dataframe.columns:
        print(f"========{i}=========")
        print(dataframe[i].value_counts())

In [16]:
classcount(df)

========Type=========
Strength                 2545
Stretching                147
Plyometrics                97
Powerlifting               37
Cardio                     35
Olympic Weightlifting      35
Strongman                  22
Name: Type, dtype: int64
========BodyPart=========
Abdominals     662
Quadriceps     646
Shoulders      340
Chest          262
Biceps         168
Triceps        151
Lats           124
Hamstrings     121
Middle Back    118
Lower Back      97
Glutes          81
Calves          47
Forearms        31
Traps           24
Abductors       21
Adductors       17
Neck             8
Name: BodyPart, dtype: int64
========Equipment=========
Body Only        1078
Dumbbell          516
Barbell           282
Other             254
Cable             226
Machine           175
Kettlebells       149
Bands             100
Medicine Ball      38
Exercise Ball      35
None               32
E-Z Curl Bar       22
Foam Roll          11
Name: Equipment, dtype: int64
========Level=========
Intermediate    2446
Beginner         459
Expert            13
Name: Level, dtype: int64

In [19]:
x = df.drop(axis=1, columns='Level')

In [20]:
x

          Type    BodyPart     Equipment
0     Strength  Abdominals         Bands
1     Strength  Abdominals         Bands
2     Strength  Abdominals         Bands
3     Strength  Abdominals         Bands
4     Strength  Abdominals         Bands
...        ...         ...           ...
2913  Strength     Triceps  E-Z Curl Bar
2914  Strength     Triceps  E-Z Curl Bar
2915  Strength     Triceps  E-Z Curl Bar
2916  Strength     Triceps  E-Z Curl Bar
2917  Strength     Triceps  E-Z Curl Bar

[2918 rows x 3 columns]

In [21]:
y = df['Level']

In [22]:
y

0       Intermediate
1       Intermediate
2       Intermediate
3       Intermediate
4       Intermediate
            ...
2913    Intermediate
2914        Beginner
2915    Intermediate
2916    Intermediate
2917    Intermediate
Name: Level, Length: 2918, dtype: object

In [27]:
ohe = ce.OneHotEncoder()
res = ohe.fit_transform(x)

In [28]:
res

,Type_1,Type_2,Type_3,Type_4,Type_5,Type_6,Type_7,BodyPart_1,BodyPart_2,BodyPart_3,...,Equipment_4,Equipment_5,Equipment_6,Equipment_7,Equipment_8,Equipment_9,Equipment_10,Equipment_11,Equipment_12,Equipment_13
0,1,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2913,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2914,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2915,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2916,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2917,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [31]:
X_train, X_test, Y_train, Y_test = train_test_split(res, y, test_size=0.2)

In [53]:
random_forr = RandomForestClassifier()
random_forr.fit(X_train, Y_train)
random_forr.score(X_test, Y_test)

0.8595890410958904

In [36]:
Y_pred = random_forr.predict(X_test)
type(Y_pred)

numpy.ndarray

In [37]:
Y_test_arr = np.array(Y_test)

In [43]:
test_actual_pred = np.vstack((Y_test_arr, Y_pred))

In [48]:
act_pred = pd.DataFrame(test_actual_pred.T, columns=['actual', 'predicted'])

In [50]:
act_pred

           actual     predicted
0    Intermediate  Intermediate
1    Intermediate  Intermediate
2    Intermediate  Intermediate
3    Intermediate  Intermediate
4    Intermediate  Intermediate
..            ...           ...
579  Intermediate  Intermediate
580  Intermediate  Intermediate
581      Beginner  Intermediate
582  Intermediate  Intermediate
583      Beginner      Beginner

[584 rows x 2 columns]

In [52]:
cm = confusion_matrix(Y_test_arr, Y_pred)
cm

array([[ 40,   0,  66],
       [  0,   0,   2],
       [ 17,   0, 459]], dtype=int64)